This tutorial will use the titanic dataset which is available on [OpenML](https://www.openml.org/search?type=data&sort=runs&id=40945&status=active). Place it in the same directory as this Jupiter Notebook.

The first thing we have to do is to import our data. We can do that by doing the following:

In [28]:
import tablebase

Titanic_Data = tablebase.CsvTable("Titanic.csv")

In line one we imported tablebase. Next we made an object called **Titanic_Data** the contains our imported csv file (*Titanic.csv*). Now, lets print out the data by using the **display** method:

In [29]:
Titanic_Data.display()

     id   pclass   survived                                                                                name      sex      age   sibsp   parch               ticket       fare             cabin   embarked      boat   body                                         home.dest
      1        1          1                                                        Allen,Miss. Elisabeth Walton   female       29       0       0                24160   211.3375                B5          S         2      ?                                       St Louis,MO
      2        1          1                                                       Allison,Master. Hudson Trevor     male   0.9167       1       2               113781     151.55           C22 C26          S        11      ?                     Montreal,PQ / Chesterville,ON
      3        1          0                                                         Allison,Miss. Helen Loraine   female        2       1       2               113781     151.55           C22 C26          S         ?      ?                     Montreal,PQ / Chesterville,ON
      4        1          0                                                 Allison,Mr. Hudson Joshua Creighton     male       30       1       2               113781     151.55           C22 C26          S         ?    135                     Montreal,PQ / Chesterville,ON
      5        1          0                                      Allison,Mrs. Hudson J C (Bessie Waldo Daniels)   female       25       1       2               113781     151.55           C22 C26          S         ?      ?                     Montreal,PQ / Chesterville,ON
      6        1          1                                                                  Anderson,Mr. Harry     male       48       0       0                19952      26.55               E12          S         3      ?                                       New York,NY
      7        1          1                                                    Andrews,Miss. Kornelia Theodosia   female       63       1       0                13502    77.9583                D7          S        10      ?                                         Hudson,NY
      8        1          0                                                               Andrews,Mr. Thomas Jr     male       39       0       0               112050          0               A36          S         ?      ?                                        Belfast,NI
      9        1          1                                        Appleton,Mrs. Edward Dale (Charlotte Lamson)   female       53       2       0                11769    51.4792              C101          S         D      ?                                 Bayside,Queens,NY
     10        1          0                                                              Artagaveytia,Mr. Ramon     male       71       0       0             PC 17609    49.5042                 ?          C         ?     22                                Montevideo,Uruguay
     11        1          0                                                               Astor,Col. John Jacob     male       47       1       0             PC 17757    227.525           C62 C64          C         ?    124                                       New York,NY
     12        1          1                                    Astor,Mrs. John Jacob (Madeleine Talmadge Force)   female       18       1       0             PC 17757    227.525           C62 C64          C         4      ?                                       New York,NY
     13        1          1                                                        Aubart,Mme. Leontine Pauline   female       24       0       0             PC 17477       69.3               B35          C         9      ?                                      Paris,France
     14        1          1                                                         Barber,Miss. Ellen 'Nellie'   female       26       0       0                19877      78.85                 ?          S         6      ?                                                 ?
     15        1          1                                                 Barkworth,Mr. Algernon Henry Wilson     male       80       0       0                27042         30               A23          S         B      ?                                      Hessle,Yorks
     16        1          0                                                                  Baumann,Mr. John D     male        ?       0       0             PC 17318     25.925                 ?          S         ?      ?                                       New York,NY
     17        1          0                                                             Baxter,Mr. Quigg Edmond     male       24       0       1             PC 17558   247.5208           B58 B60          C         ?      ?                                       Montreal,PQ
     18        1          1                                      Baxter,Mrs. James (Helene DeLaudeniere Chaput)   female       50       0       1             PC 17558   247.5208           B58 B60          C         6      ?                                       Montreal,PQ
     19        1          1                                                                Bazzani,Miss. Albina   female       32       0       0                11813    76.2917               D15          C         8      ?                                                 ?
     20        1          0                                                                 Beattie,Mr. Thomson     male       36       0       0                13050    75.2417                C6          C         A      ?                                       Winnipeg,MN
     21        1          1                                                        Beckwith,Mr. Richard Leonard     male       37       1       1                11751    52.5542               D35          S         5      ?                                       New York,NY
     22        1          1                                     Beckwith,Mrs. Richard Leonard (Sallie Monypeny)   female       47       1       1                11751    52.5542               D35          S         5      ?                                       New York,NY
     23        1          1                                                                Behr,Mr. Karl Howell     male       26       0       0               111369         30              C148          C         5      ?                                       New York,NY
     24        1          1                                                                Bidois,Miss. Rosalie   female       42       0       0             PC 17757    227.525                 ?          C         4      ?                                                 ?
     25        1          1                                                                    Bird,Miss. Ellen   female       29       0       0             PC 17483   221.7792               C97          S         8      ?                                                 ?
     26        1          0                                                                  Birnbaum,Mr. Jakob     male       25       0       0                13905         26                 ?          C         ?    148                                  San Francisco,CA
     27        1          1                                                              Bishop,Mr. Dickinson H     male       25       1       0                11967    91.0792               B49          C         7      ?                                       Dowagiac,MI
     28        1          1                                              Bishop,Mrs. Dickinson H (Helen Walton)   female       19       1       0                11967    91.0792               B49          C         7      ?                                       Dowagiac,MI
     29        1          1                                                               Bissette,Miss. Amelia   female       35       0       0             PC 17760   135.6333               C99          S         8      ?                                                 ?
     30        1          1                                            Bjornstrom-Steffansson,Mr. Mauritz Hakan     male       28       0       0               110564      26.55               C52          S         D      ?                  Stockholm,Sweden / Washington,DC
     31        1          0                                                         Blackwell,Mr. Stephen Weart     male       45       0       0               113784       35.5                 T          S         ?      ?                                        Trenton,NJ
     32        1          1                                                                     Blank,Mr. Henry     male       40       0       0               112277         31               A31          C         7      ?                                     Glen Ridge,NJ
     33        1          1                                                              Bonnell,Miss. Caroline   female       30       0       0                36928   164.8667                C7          S         8      ?                                     Youngstown,OH
     34        1          1                                                             Bonnell,Miss. Elizabeth   female       58       0       0               113783      26.55              C103          S         8      ?                   Birkdale,England Cleveland,Ohio
     35        1          0                                                             Borebank,Mr. John James     male       42       0       0               110489      26.55               D22          S         ?      ?                              London / Winnipeg,MB
     36        1          1                                                             Bowen,Miss. Grace Scott   female       45       0       0             PC 17608    262.375                 ?          C         4      ?                                    Cooperstown,NY
     37        1          1                                                          Bowerman,Miss. Elsie Edith   female       22       0       1               113505         55               E33          S         6      ?                   St Leonards-on-Sea,England Ohio
     38        1          1                                        Bradley,Mr. George ('George Arthur Brayton')     male        ?       0       0               111427      26.55                 ?          S         9      ?                                    Los Angeles,CA
     39        1          0                                                              Brady,Mr. John Bertram     male       41       0       0               113054       30.5               A21          S         ?      ?                                        Pomeroy,WA
     40        1          0                                                                   Brandeis,Mr. Emil     male       48       0       0             PC 17591    50.4958               B10          C         ?    208                                          Omaha,NE
     41        1          0                                                            Brewe,Dr. Arthur Jackson     male        ?       0       0               112379       39.6                 ?          C         ?      ?                                   Philadelphia,PA
     42        1          1                                            Brown,Mrs. James Joseph (Margaret Tobin)   female       44       0       0             PC 17610    27.7208                B4          C         6      ?                                         Denver,CO
     43        1          1                                       Brown,Mrs. John Murray (Caroline Lane Lamson)   female       59       2       0                11769    51.4792              C101          S         D      ?                                        Belmont,MA
     44        1          1                                      Bucknell,Mrs. William Robert (Emma Eliza Ward)   female       60       0       0                11813    76.2917               D15          C         8      ?                                   Philadelphia,PA
     45        1          1                                                      Burns,Miss. Elizabeth Margaret   female       41       0       0                16966      134.5               E40          C         3      ?                                                 ?
     46        1          0                                                    Butt,Major. Archibald Willingham     male       45       0       0               113050      26.55               B38          S         ?      ?                                     Washington,DC
     47        1          0                                                                Cairns,Mr. Alexander     male        ?       0       0               113798         31                 ?          S         ?      ?                                                 ?
     48        1          1                                                    Calderhead,Mr. Edward Pennington     male       42       0       0             PC 17476    26.2875               E24          S         5      ?                                       New York,NY
     49        1          1                                     Candee,Mrs. Edward (Helen Churchill Hungerford)   female       53       0       0             PC 17606    27.4458                 ?          C         6      ?                                     Washington,DC
     50        1          1                                                   Cardeza,Mr. Thomas Drake Martinez     male       36       0       1             PC 17755   512.3292       B51 B53 B55          C         3      ?      Austria-Hungary / Germantown,Philadelphia,PA
     51        1          1                      Cardeza,Mrs. James Warburton Martinez (Charlotte Wardle Drake)   female       58       0       1             PC 17755   512.3292       B51 B53 B55          C         3      ?                        Germantown,Philadelphia,PA
     52        1          0                                                             Carlsson,Mr. Frans Olof     male       33       0       0                  695          5       B51 B53 B55          S         ?      ?                                       New York,NY
     53        1          0                                                              Carrau,Mr. Francisco M     male       28       0       0               113059       47.1                 ?          S         ?      ?                                Montevideo,Uruguay
     54        1          0                                                               Carrau,Mr. Jose Pedro     male       17       0       0               113059       47.1                 ?          S         ?      ?                                Montevideo,Uruguay
     55        1          1                                                  Carter,Master. William Thornton II     male       11       1       2               113760        120           B96 B98          S         4      ?                                      Bryn Mawr,PA
     56        1          1                                                            Carter,Miss. Lucile Polk   female       14       1       2               113760        120           B96 B98          S         4      ?                                      Bryn Mawr,PA
     57        1          1                                                           Carter,Mr. William Ernest     male       36       1       2               113760        120           B96 B98          S         C      ?                                      Bryn Mawr,PA
     58        1          1                                            Carter,Mrs. William Ernest (Lucile Polk)   female       36       1       2               113760        120           B96 B98          S         4      ?                                      Bryn Mawr,PA
     59        1          0                                                               Case,Mr. Howard Brown     male       49       0       0                19924         26                 ?          S         ?      ?                    Ascot,Berkshire / Rochester,NY
     60        1          1                          Cassebeer,Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)   female        ?       0       0                17770    27.7208                 ?          C         5      ?                                       New York,NY
     61        1          0                                                        Cavendish,Mr. Tyrell William     male       36       1       0                19877      78.85               C46          S         ?    172                            Little Onn Hall,Staffs
     62        1          1                               Cavendish,Mrs. Tyrell William (Julia Florence Siegel)   female       76       1       0                19877      78.85               C46          S         6      ?                            Little Onn Hall,Staffs
     63        1          0                                                          Chaffee,Mr. Herbert Fuller     male       46       1       0          W.E.P. 5734     61.175               E31          S         ?      ?                                         Amenia,ND
     64        1          1                              Chaffee,Mrs. Herbert Fuller (Carrie Constance Toogood)   female       47       1       0          W.E.P. 5734     61.175               E31          S         4      ?                                         Amenia,ND
     65        1          1                                                        Chambers,Mr. Norman Campbell     male       27       1       0               113806       53.1                E8          S         5      ?                           New York,NY / Ithaca,NY
     66        1          1                                       Chambers,Mrs. Norman Campbell (Bertha Griggs)   female       33       1       0               113806       53.1                E8          S         5      ?                           New York,NY / Ithaca,NY
     67        1          1                                                          Chaudanson,Miss. Victorine   female       36       0       0             PC 17608    262.375               B61          C         4      ?                                                 ?
     68        1          1                                                                 Cherry,Miss. Gladys   female       30       0       0               110152       86.5               B77          S         8      ?                                    London,England
     69        1          1                                                             Chevre,Mr. Paul Romaine     male       45       0       0             PC 17594       29.7                A9          C         7      ?                                      Paris,France
     70        1          1                                               Chibnall,Mrs. (Edith Martha Bowerman)   female        ?       0       1               113505         55               E33          S         6      ?                   St Leonards-on-Sea,England Ohio
     71        1          0                                                Chisholm,Mr. Roderick Robert Crispin     male        ?       0       0               112051          0                 ?          S         ?      ?                       Liverpool,England / Belfast

As you might have guessed, the **fare** in 1912 Brutish Pounds. We can convert it to USD by multiplying the **fare** column by 4.87. We can do this with the **expand** method.

In [30]:
Titanic_Data.expand("fare", "0 if @fare@ == '?' else float(@fare@) * 4.87")
Titanic_Data.display()

     id   pclass   survived                                                                                name      sex      age   sibsp   parch               ticket                 fare             cabin   embarked      boat   body                                         home.dest
      1        1          1                                                        Allen,Miss. Elisabeth Walton   female       29       0       0                24160          1029.213625                B5          S         2      ?                                       St Louis,MO
      2        1          1                                                       Allison,Master. Hudson Trevor     male   0.9167       1       2               113781    738.0485000000001           C22 C26          S        11      ?                     Montreal,PQ / Chesterville,ON
      3        1          0                                                         Allison,Miss. Helen Loraine   female        2       1       2               113781    738.0485000000001           C22 C26          S         ?      ?                     Montreal,PQ / Chesterville,ON
      4        1          0                                                 Allison,Mr. Hudson Joshua Creighton     male       30       1       2               113781    738.0485000000001           C22 C26          S         ?    135                     Montreal,PQ / Chesterville,ON
      5        1          0                                      Allison,Mrs. Hudson J C (Bessie Waldo Daniels)   female       25       1       2               113781    738.0485000000001           C22 C26          S         ?      ?                     Montreal,PQ / Chesterville,ON
      6        1          1                                                                  Anderson,Mr. Harry     male       48       0       0                19952   129.29850000000002               E12          S         3      ?                                       New York,NY
      7        1          1                                                    Andrews,Miss. Kornelia Theodosia   female       63       1       0                13502   379.65692099999995                D7          S        10      ?                                         Hudson,NY
      8        1          0                                                               Andrews,Mr. Thomas Jr     male       39       0       0               112050                  0.0               A36          S         ?      ?                                        Belfast,NI
      9        1          1                                        Appleton,Mrs. Edward Dale (Charlotte Lamson)   female       53       2       0                11769           250.703704              C101          S         D      ?                                 Bayside,Queens,NY
     10        1          0                                                              Artagaveytia,Mr. Ramon     male       71       0       0             PC 17609           241.085454                 ?          C         ?     22                                Montevideo,Uruguay
     11        1          0                                                               Astor,Col. John Jacob     male       47       1       0             PC 17757           1108.04675           C62 C64          C         ?    124                                       New York,NY
     12        1          1                                    Astor,Mrs. John Jacob (Madeleine Talmadge Force)   female       18       1       0             PC 17757           1108.04675           C62 C64          C         4      ?                                       New York,NY
     13        1          1                                                        Aubart,Mme. Leontine Pauline   female       24       0       0             PC 17477              337.491               B35          C         9      ?                                      Paris,France
     14        1          1                                                         Barber,Miss. Ellen 'Nellie'   female       26       0       0                19877   383.99949999999995                 ?          S         6      ?                                                 ?
     15        1          1                                                 Barkworth,Mr. Algernon Henry Wilson     male       80       0       0                27042                146.1               A23          S         B      ?                                      Hessle,Yorks
     16        1          0                                                                  Baumann,Mr. John D     male        ?       0       0             PC 17318            126.25475                 ?          S         ?      ?                                       New York,NY
     17        1          0                                                             Baxter,Mr. Quigg Edmond     male       24       0       1             PC 17558          1205.426296           B58 B60          C         ?      ?                                       Montreal,PQ
     18        1          1                                      Baxter,Mrs. James (Helene DeLaudeniere Chaput)   female       50       0       1             PC 17558          1205.426296           B58 B60          C         6      ?                                       Montreal,PQ
     19        1          1                                                                Bazzani,Miss. Albina   female       32       0       0                11813   371.54057900000004               D15          C         8      ?                                                 ?
     20        1          0                                                                 Beattie,Mr. Thomson     male       36       0       0                13050           366.427079                C6          C         A      ?                                       Winnipeg,MN
     21        1          1                                                        Beckwith,Mr. Richard Leonard     male       37       1       1                11751   255.93895400000002               D35          S         5      ?                                       New York,NY
     22        1          1                                     Beckwith,Mrs. Richard Leonard (Sallie Monypeny)   female       47       1       1                11751   255.93895400000002               D35          S         5      ?                                       New York,NY
     23        1          1                                                                Behr,Mr. Karl Howell     male       26       0       0               111369                146.1              C148          C         5      ?                                       New York,NY
     24        1          1                                                                Bidois,Miss. Rosalie   female       42       0       0             PC 17757           1108.04675                 ?          C         4      ?                                                 ?
     25        1          1                                                                    Bird,Miss. Ellen   female       29       0       0             PC 17483   1080.0647040000001               C97          S         8      ?                                                 ?
     26        1          0                                                                  Birnbaum,Mr. Jakob     male       25       0       0                13905               126.62                 ?          C         ?    148                                  San Francisco,CA
     27        1          1                                                              Bishop,Mr. Dickinson H     male       25       1       0                11967           443.555704               B49          C         7      ?                                       Dowagiac,MI
     28        1          1                                              Bishop,Mrs. Dickinson H (Helen Walton)   female       19       1       0                11967           443.555704               B49          C         7      ?                                       Dowagiac,MI
     29        1          1                                                               Bissette,Miss. Amelia   female       35       0       0             PC 17760           660.534171               C99          S         8      ?                                                 ?
     30        1          1                                            Bjornstrom-Steffansson,Mr. Mauritz Hakan     male       28       0       0               110564   129.29850000000002               C52          S         D      ?                  Stockholm,Sweden / Washington,DC
     31        1          0                                                         Blackwell,Mr. Stephen Weart     male       45       0       0               113784              172.885                 T          S         ?      ?                                        Trenton,NJ
     32        1          1                                                                     Blank,Mr. Henry     male       40       0       0               112277               150.97               A31          C         7      ?                                     Glen Ridge,NJ
     33        1          1                                                              Bonnell,Miss. Caroline   female       30       0       0                36928           802.900829                C7          S         8      ?                                     Youngstown,OH
     34        1          1                                                             Bonnell,Miss. Elizabeth   female       58       0       0               113783   129.29850000000002              C103          S         8      ?                   Birkdale,England Cleveland,Ohio
     35        1          0                                                             Borebank,Mr. John James     male       42       0       0               110489   129.29850000000002               D22          S         ?      ?                              London / Winnipeg,MB
     36        1          1                                                             Bowen,Miss. Grace Scott   female       45       0       0             PC 17608   1277.7662500000001                 ?          C         4      ?                                    Cooperstown,NY
     37        1          1                                                          Bowerman,Miss. Elsie Edith   female       22       0       1               113505               267.85               E33          S         6      ?                   St Leonards-on-Sea,England Ohio
     38        1          1                                        Bradley,Mr. George ('George Arthur Brayton')     male        ?       0       0               111427   129.29850000000002                 ?          S         9      ?                                    Los Angeles,CA
     39        1          0                                                              Brady,Mr. John Bertram     male       41       0       0               113054              148.535               A21          S         ?      ?                                        Pomeroy,WA
     40        1          0                                                                   Brandeis,Mr. Emil     male       48       0       0             PC 17591   245.91454600000003               B10          C         ?    208                                          Omaha,NE
     41        1          0                                                            Brewe,Dr. Arthur Jackson     male        ?       0       0               112379              192.852                 ?          C         ?      ?                                   Philadelphia,PA
     42        1          1                                            Brown,Mrs. James Joseph (Margaret Tobin)   female       44       0       0             PC 17610           135.000296                B4          C         6      ?                                         Denver,CO
     43        1          1                                       Brown,Mrs. John Murray (Caroline Lane Lamson)   female       59       2       0                11769           250.703704              C101          S         D      ?                                        Belmont,MA
     44        1          1                                      Bucknell,Mrs. William Robert (Emma Eliza Ward)   female       60       0       0                11813   371.54057900000004               D15          C         8      ?                                   Philadelphia,PA
     45        1          1                                                      Burns,Miss. Elizabeth Margaret   female       41       0       0                16966              655.015               E40          C         3      ?                                                 ?
     46        1          0                                                    Butt,Major. Archibald Willingham     male       45       0       0               113050   129.29850000000002               B38          S         ?      ?                                     Washington,DC
     47        1          0                                                                Cairns,Mr. Alexander     male        ?       0       0               113798               150.97                 ?          S         ?      ?                                                 ?
     48        1          1                                                    Calderhead,Mr. Edward Pennington     male       42       0       0             PC 17476           128.020125               E24          S         5      ?                                       New York,NY
     49        1          1                                     Candee,Mrs. Edward (Helen Churchill Hungerford)   female       53       0       0             PC 17606           133.661046                 ?          C         6      ?                                     Washington,DC
     50        1          1                                                   Cardeza,Mr. Thomas Drake Martinez     male       36       0       1             PC 17755          2495.043204       B51 B53 B55          C         3      ?      Austria-Hungary / Germantown,Philadelphia,PA
     51        1          1                      Cardeza,Mrs. James Warburton Martinez (Charlotte Wardle Drake)   female       58       0       1             PC 17755          2495.043204       B51 B53 B55          C         3      ?                        Germantown,Philadelphia,PA
     52        1          0                                                             Carlsson,Mr. Frans Olof     male       33       0       0                  695                24.35       B51 B53 B55          S         ?      ?                                       New York,NY
     53        1          0                                                              Carrau,Mr. Francisco M     male       28       0       0               113059              229.377                 ?          S         ?      ?                                Montevideo,Uruguay
     54        1          0                                                               Carrau,Mr. Jose Pedro     male       17       0       0               113059              229.377                 ?          S         ?      ?                                Montevideo,Uruguay
     55        1          1                                                  Carter,Master. William Thornton II     male       11       1       2               113760                584.4           B96 B98          S         4      ?                                      Bryn Mawr,PA
     56        1          1                                                            Carter,Miss. Lucile Polk   female       14       1       2               113760                584.4           B96 B98          S         4      ?                                      Bryn Mawr,PA
     57        1          1                                                           Carter,Mr. William Ernest     male       36       1       2               113760                584.4           B96 B98          S         C      ?                                      Bryn Mawr,PA
     58        1          1                                            Carter,Mrs. William Ernest (Lucile Polk)   female       36       1       2               113760                584.4           B96 B98          S         4      ?                                      Bryn Mawr,PA
     59        1          0                                                               Case,Mr. Howard Brown     male       49       0       0                19924               126.62                 ?          S         ?      ?                    Ascot,Berkshire / Rochester,NY
     60        1          1                          Cassebeer,Mrs. Henry Arthur Jr (Eleanor Genevieve Fosdick)   female        ?       0       0                17770           135.000296                 ?          C         5      ?                                       New York,NY
     61        1          0                                                        Cavendish,Mr. Tyrell William     male       36       1       0                19877   383.99949999999995               C46          S         ?    172                            Little Onn Hall,Staffs
     62        1          1                               Cavendish,Mrs. Tyrell William (Julia Florence Siegel)   female       76       1       0                19877   383.99949999999995               C46          S         6      ?                            Little Onn Hall,Staffs
     63        1          0                                                          Chaffee,Mr. Herbert Fuller     male       46       1       0          W.E.P. 5734            297.92225               E31          S         ?      ?                                         Amenia,ND
     64        1          1                              Chaffee,Mrs. Herbert Fuller (Carrie Constance Toogood)   female       47       1       0          W.E.P. 5734            297.92225               E31          S         4      ?                                         Amenia,ND
     65        1          1                                                        Chambers,Mr. Norman Campbell     male       27       1       0               113806   258.59700000000004                E8          S         5      ?                           New York,NY / Ithaca,NY
     66        1          1                                       Chambers,Mrs. Norman Campbell (Bertha Griggs)   female       33       1       0               113806   258.59700000000004                E8          S         5      ?                           New York,NY / Ithaca,NY
     67        1          1                                                          Chaudanson,Miss. Victorine   female       36       0       0             PC 17608   1277.7662500000001               B61          C         4      ?                                                 ?
     68        1          1                                                                 Cherry,Miss. Gladys   female       30       0       0               110152              421.255               B77          S         8      ?                                    London,England
     69        1          1                                                             Chevre,Mr. Paul Romaine     male       45       0       0             PC 17594              144.639                A9          C         7      ?                                      Paris,France

As you can see, the code above changes the column **fare** to the old **fare** multiplied by 4.87. We had to include the if statement because there are some fares that say `?` which means unknown.

Now we know we have the data that we like. We can now create a filter to split the data by gender:

In [31]:
Male_Data = Titanic_Data.filter("@sex@ == 'male'")
Female_Data = Titanic_Data.filter("@sex@ == 'female'")

First we make an object with only male passengers by filtering for records where the column **sex** is **male**. We then did the same thing for the female passengers by filtering for records where the column **sex** is **female**. Now lets calculate the mean for the survival rate of both male and female passengers. First we need to make a simple mean function:

In [32]:
def mean(data: list):
    return sum(float(item) for item in data)/int(len(data))

We now can find the mean for both men and women and print the results to the console.

In [33]:
print("Average survival for men:", mean(Male_Data.get_col("survived")))
print("Average survival for women:", mean(Female_Data.get_col("survived")))

Average survival for men: 0.19098457888493475
Average survival for women: 0.7274678111587983

What if we want to the survival rate of first class women. We can filter by the column **pclass**.

In [34]:
print("Average survival for women in a class less then 3:", mean(Female_Data.filter("int(@pclass@) < 3").get_col("survived")))

Average survival for women in a class less then 3: 0.932